@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


body {
    font-family: 'Poppins', sans-serif;
  }
  

.navbar {
    will-change: transform, opacity;
  }
  .contact-bg-glow {
    will-change: filter;
  }

@layer base {
    html.lenis {
        height: auto;
    }

    .lenis.lenis-smooth {
        scroll-behavior: auto !important;
    }

    .lenis.lenis-smooth [data-lenis-prevent] {
        overscroll-behavior: contain;
    }

    .lenis.lenis-stopped {
        overflow: hidden;
    }

    /* Hide scrollbar for a truly 'Small UI' clean look, or style it: */
    ::-webkit-scrollbar {
        width: 4px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--color-indigo-500);
        border-radius: 10px;
    }
}


@theme {
    @keyframes wave {
        0% { transform: translate3d(-90px, 0, 0); }
        100% { transform: translate3d(85px, 0, 0); }
    }

    /* Professional Wave Speeds */
    --animate-wave-slow: wave 25s cubic-bezier(.55, .5, .45, .5) infinite;
    --animate-wave-med: wave 18s cubic-bezier(.55, .5, .45, .5) infinite;
    --animate-wave-fast: wave 10s cubic-bezier(.55, .5, .45, .5) infinite;
}

@layer base {
    .hero-wave-container {
        @apply w-full overflow-hidden leading-[0] pointer-events-none;
    }
}